@charset "utf-8";
@import './reset.scss';
@import './responsive.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap');

body{
    header{
        width: 100%;
        margin: 0 auto;
        position: fixed;
        background-color: #101F5A;
        color: #F7F8FA;
        z-index: 99;
        &.visual{
            background-color: #101F5A;
            color: #111111;
        }
    }
    main{
        max-width: inherit;
        width: 100%;
        
    }
    footer{
        width: 100%;
        background-color: #CBC6C3;
    }
    .logo{
        &::after{
            width: 50px;
            height: 80px;
            display: block;
            content: '';
            background: url('../../public/icons/logo_white.svg') center no-repeat;
        }
    }

    .hide{
        display: none;
    }
    .show{
        display: block;
    }
    .stopScroll{
        height: 100%;
        overflow: hidden;
    }

}
