@charset "utf-8";
@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap');

body{
    header{
        width: 100%;
        margin: 0 auto;
        position: fixed;
        background-color: rgba($color: #F7F8FA, $alpha:0.5);
        z-index: 99;
        // transition: 0.3s;
        // transform: translateY(0%);
        // &.hide{
        //     transform: translateY(-100%);
        // }
    }
    main{
        max-width: inherit;
        width: 100%;
        
    }
    footer{
        width: 100%;
        background-color: #CBC6C3;
    }
    .logo{
        &::after{
            width: 50px;
            height: 80px;
            display: block;
            content: '';
            background: url('../../public/icons/logo.svg') center no-repeat;
        }
    }

    .hide{
        display: none;
    }
    .show{
        display: block;
    }
    .stopScroll{
        height: 100%;
        overflow: hidden;
    }

}
