@import './_responsive.scss';
.mainStyle {
    section{
        padding: 0 20px;
        &:not(:first-of-type){
            max-width: 960px;
            padding-top: 80px;
            margin: 0 auto;
        }
        &:not(:first-of-type){
            margin-bottom: 80px;
        }
        .sectionTitleWrap{
            margin-bottom: 48px;
            .sectionTitle{
                font-size: 48px;
                font-weight: 700;
                line-height: 0.7;
                text-transform: capitalize;
            }
            .sectionSubtitle{
                display: block;
                color: #CBC6C3;
                font-size: 24px;
                font-weight: 700;
            }
        }
        .profileContents{
            .subContentsCommon{
                &:not(:last-of-type){
                    margin-bottom: 80px;
                }
                .itemTitle{
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: capitalize;
                }
            }
            .personalInfo{
                ul{
                    display: flex;
                    justify-content: space-between;
                    li{
                        .itemWrap{
                            &:not(:last-of-type){
                                margin-bottom: 36px;
                            }
                            p{
                                display: flex;
                                align-items: center;
                                &::before{
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 16px;
                                    display: block;
                                    content: '';
                                    background-position: center;
                                    background-repeat: no-repeat;
                                }
                            }
                            .name{
                                &::before{
                                    background-image: url('../../public/icons/person.svg');
                                }
                            }
                            .birth{
                                &::before{
                                    background-image: url('../../public/icons/calender.svg');
                                }
                            }
                            .email{
                                cursor: pointer;
                                &::before{
                                    background-image: url('../../public/icons/mail.svg');
                                }
                                .copy{
                                    width: 200px;
                                    position: relative;
                                    display: none;
                                    &::after{
                                        padding: 2px 4px;
                                        background-color: #f3f3f3;
                                        border-radius: 8px 8px 8px 0;
                                        color: #cbc6c3;
                                        font-size: 12px;
                                        top: -32px;
                                        display: inline-block;
                                        content: '클릭 시 복사됩니다.';
                                        position: absolute;
                                    }
                                }
                                &:hover{
                                    .copy{
                                        display: inline-block;
                                    }
                                }
                            }
                            .channel{
                                &::before{
                                    background-image: url('../../public/icons/github.svg');
                                }
                                .github {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .introduce{
                h3{
                    margin-bottom: 24px;
                }
            }
            .education{
                h3{
                    margin-bottom: 24px;
                }
                ul{
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p{
                            width: 33%;
                        }
                        &:not(:last-of-type){
                            margin-bottom: 24px;
                        }
                    }
                }
            }
        }
    }
    // 0. Visual
    .visual{
        width: 100%;
        height: 100vh;
        padding-top: 80px;
        background-color: #101F5A;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .contentsWrap{
            max-width: 960px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .textWrap{
                // width: 60%;
                .greetingWrap{
                    max-width: 960px;
                    .sayhello{
                        margin-bottom: 52px;
                        display: block;
                        color: #FFD255;
                        font-size: 28px;
                        font-weight: 700;
                    }
                    .introduceCommon{
                        color: #F7F8FA;
                        line-height: 0.2;
                        font-size: 64px;
                        white-space: nowrap;
                        .name{
                            color: inherit;
                            font-size: inherit;
                            font-weight: 700;
                        }                        
                    }
                }
                .wordWrap{
                    margin-bottom: 24px;
                    p{
                        color: #F7F8FA;                        
                    }
                }
                .snsWrap{
                    width: 128px;
                    height: 32px;
                    a{
                        &::after{
                            width: 32px;
                            height: 32px;
                            content: '';
                            display: inline-block;
                            background-position: center;
                            background-repeat: no-repeat;
                            
                        }
                        &.github::after{
                            background-image: url('../../public/icons/github_circle.svg');
                        }
                    }
                }
            }
        }
        .mouseWrap{
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;          
            .mouse {
                width: 22px;
                height: 40px;
                border: 2px solid #F7F8FA;
                border-radius: 60px;
                position: relative;
            
                &::before {
                    width: 6px;
                    height: 6px;
                    content: '';
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #F7F8FA;
                    border-radius: 50%;
                    opacity: 1;
                    animation: wheel 1.2s infinite;
                    -webkit-animation: wheel 1.2s infinite;
                }
            }
              
              
              @keyframes wheel {
                to {
                  opacity: 0;
                  top: 20px;
                }
              }
              
              @-webkit-keyframes wheel {
                to {
                  opacity: 0;
                  top: 20px;
                }
              }
        }
    }
    // 1. 프로필
    .profile{}

    // 2. 기술
    .skills{
        .skillCardsWrap{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 352px;
            grid-gap: 20px;
        }
    }
    // 3. 포트폴리오
    .portfolio{
        .portfolioBtnGroup{
            margin-bottom: 60px;
            display: flex;
            .btnWrap{
                &:not(:last-of-type) {
                    margin-right: 16px;
                }
                button{
                    min-width: 160px;
                    padding: 8px 48px;                
                    font-weight: 700;
                    border: 1px solid #111111;
                    border-radius: 100px;
                }
            }
        }

        .portfolioCommon {
            &:not(:last-of-type){
                margin-bottom: 160px;
            }
            .portfolioTitleWrap{
                margin: 0 0 52px 20px;
                .portfolioTitle{
                    margin-right: 12px;
                    font-size: 32px;
                    font-weight: 700;
                }
                .portfolioSubtitle{
                    color: #CBC6C3;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            .pCardWrap{
                &:not(:last-of-type) {
                    margin-bottom: 40px;
                }
            }
            // 제목 아래 카드들 감싸는 클래스
            .portfolioCardsGroup{
            }
        }
        // 팀 프로젝트
        .teamWrap{
            .teamContents{
                
            }
        }
        // 개인 프로젝트
        .soloWrap{
            .soloContents{
                .bigWrap{

                }
                .smallWrap{
                    ul{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .pCardWrap{
                            width: 50%;
                            gap: 20px;
                        }
                    }
                }
            }
        }
    }
    // 4. 기타 경험
    .others{
        .othersItemsWrap{
            max-width: 960px;
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            // flex-direction: column;
            // gap: 20px;
            .othersItem{
                padding: 52px 20px 36px;
                margin-bottom: 40px;
                background-color: #f3f3f3;
                border-radius: 20px;
                overflow: hidden;
                .othersItemTitle{
                    margin-bottom: 24px;
                    font-size: 20px;
                    font-weight: 700;
                }
                .othersItemDescriptionsWrap{
                    border-top: 1px solid #cbc6c3;
                    .otherItemDate{
                        margin: 4px 0 8px;
                        color: #cbc6c3;
                    }
                    .otherItemDescription{
                    }
                }
            }
        }

    }


}

@include responsive($tab-l){
    .mainStyle{
        .visual{
            .contentsWrap{
                .textWrap{
                    .greetingWrap{
                        .sayhello{
                            font-size: 24px;
                        }
                        .introduceCommon{
                            font-size: 48px;
                        }
                    }
                }
                .imgWrap{
                    display: none;
                }
            }
        }
        // 2. 기술
        .skills{
            .skillCardsWrap{
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 352px;
            }
        }
        // 3. 포트폴리오
        .portfolio{
            .portfolioCommon {
                .portfolioTitleWrap{
                    margin: 0 0 24px 12px;
                }
            }
        }
    }
}

@include responsive($tab-s){
    .mainStyle{
        section{
            &:not(:first-of-type,:last-of-type){
                margin-bottom: 40px;
            }
            .sectionTitleWrap{
                margin-bottom: 32px;
                .sectionTitle{
                    font-size: 36px;
                }
                .sectionSubtitle{
                    font-size: 20px;
                }
            }
            .profileContents{
                .subContentsCommon{
                    &:not(:last-of-type){
                        margin-bottom: 80px;
                    }
                }
                .personalInfo{
                    ul{
                        li{
                            .itemWrap{
                                &:not(:last-of-type){
                                    margin-bottom: 24px;
                                }
                            }
                        }
                    }
                }
                .introduce{
                    h3{
                        margin-bottom: 24px;
                    }
                }
                .education{
                    h3{
                        margin-bottom: 24px;
                    }
                    ul{
                        margin-left: 4px;
                        border-left: 2px solid #111111;
                        li{
                            margin-left: 24px;
                            display: block;
                            p{
                                width: 100%;
                                &:first-of-type{
                                    width: fit-content;
                                    margin-bottom: 12px;
                                    border-bottom: 1px dotted #111111;
                                    color: #111111;
                                    font-size: 14px;
                                    position: relative;
                                    &::before {
                                        width: 8px;
                                        height: 8px;
                                        background-color: #111111;
                                        border-radius: 8px;
                                        display: inline-block;
                                        position: absolute;
                                        content: '';
                                        top: 50%;
                                        left: -29px;
                                    }
                                }
                            }
                            &:not(:last-of-type){
                                margin-bottom: 48px;
                            }
                        }
                    }
                }
            }
        }
        // 1. 프로필
        .profile{
            .profileContents{
                .personalInfo{
                    ul{
                        display: block;
                        .info{
                            margin-bottom: 16px;
                            .itemTitle{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        // 3. 포트폴리오
        .portfolio{
            .portfolioBtnGroup{
                .btnWrap{
                    button{
                        min-width: 100px;
                        padding: 8px 24px;        
                    }
                }
            }
            .portfolioCommon {
                &:not(:last-of-type){
                    margin-bottom: 72px;
                }
                .portfolioTitleWrap{
                    margin: 0 0 24px 12px;
                    .portfolioTitle{
                        margin-right: 8px;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

@include responsive($mo-l) {
    .mainStyle{
        section{
            &:not(:first-of-type,:last-of-type){
                margin-bottom: 40px;
            }
            .sectionTitleWrap{
                margin-bottom: 24px;
                .sectionTitle{
                    font-size: 32px;
                }
                .sectionSubtitle{
                    font-size: 16px;
                }
            }
            .profileContents{
                .subContentsCommon{
                    &:not(:last-of-type){
                        margin-bottom: 40px;
                    }
                    .itemTitle{
                        margin-bottom: 16px;
                    }
                }
                .education{
                    h3{
                        margin-bottom: 12px;
                    }
                    ul{
                        li{
                            &:not(:last-of-type){
                                margin-bottom: 24px;
                            }
                        }
                    }
                }
            }
        }
        .visual{
            .contentsWrap{
                .textWrap{
                    .greetingWrap{
                        .sayhello{
                            margin-bottom: 24px;
                            font-size: 20px;
                        }
                        .introduceCommon{
                            font-size: 32px;
                        }
                    }
                    .wordWrap{
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        // 2. 기술
        .skills{
            .skillCardsWrap{
                display: block;
                .cardWrap{
                    width: 100%;
                    &:not(:last-of-type){
                        margin-bottom: 20px;
                    }
                    
                }
            }
        }
        
    }
}