.mainStyle {
    section{
        &:not(:first-of-type){
            max-width: 960px;
            margin: 0 auto;
        }
        &:not(:first-of-type,:last-of-type){
            margin-bottom: 240px;
        }
        .sectionTitleWrap{
            margin-bottom: 48px;
            position: relative;
            .sectionTitle{
                font-size: 44px;
                font-weight: 700;
                text-transform: capitalize;
            }
            .sectionSubtitle{
                position: absolute;
                top: 60%;
                left: 0;
                font-size: 32px;
                font-weight: 800;
                color: #CBC6C3;
            }
        }
        .profileContents{
            .subContentsCommon{
                &:not(:last-of-type){
                    margin-bottom: 100px;
                }
                .itemTitle{
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: capitalize;
                }
            }
            .personalInfo{
                ul{
                    display: flex;
                    li{
                        width: 50%;
                        .itemWrap{
                            &:not(:last-of-type){
                                margin-bottom: 36px;
                            }
                            p{
                                display: flex;
                                align-items: center;
                                &::before{
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 16px;
                                    display: block;
                                    content: '';
                                    background-position: center;
                                    background-repeat: no-repeat;
                                }
                            }
                            .name{
                                &::before{
                                    background-image: url('../../public/icons/person.svg');
                                }
                            }
                            .birth{
                                &::before{
                                    background-image: url('../../public/icons/calender.svg');
                                }
                            }
                            .email{
                                &::before{
                                    background-image: url('../../public/icons/mail.svg');
                                }
                            }
                            .channel{
                                &::before{
                                    background-image: url('../../public/icons/github.svg');
                                }
                                .github {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .introduce{
                h3{
                    margin-bottom: 24px;
                }
            }
            .education{
                h3{
                    margin-bottom: 24px;
                }
                ul{
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p{
                            width: 33%;
                            text-align: center;
                        }
                        &:not(:last-of-type){
                            margin-bottom: 24px;
                        }
                    }
                }
            }
        }
    }
    // 0. Visual
    .visual{
        width: 100%;
        height: 100vh;
        background-color: #101F5A;
        .greeting{
            max-width: 960px;
            padding-top: 200px;
            margin: 0 auto;
            p{
                color: #F7F8FA;
                font-size: 64px;
                font-weight: 700;
                &:first-of-type{
                    margin-bottom: 72px;
                }
            }
        }
    }

    // 1. 프로필
    .profile{}

    // 2. 기술
    .skills{
        .skillCardsWrap{
            margin-top: 120px;
            display: flex;
            flex-wrap: wrap;
        }
        .cardWrap{
            &:not(:nth-of-type(3n)){
                margin: 0 20px 20px 0;
            }
            &:nth-of-type(3n){
                margin-bottom: 20px;
            }
        }
    }
    // 3. 포트폴리오
    .portfolio{
        .portfolioBtnGroup{
            margin-bottom: 120px;
            display: flex;
            .btnWrap{
                &:not(:last-of-type) {
                    margin-right: 16px;
                }
                button{
                    min-width: 160px;
                    padding: 8px 48px;                
                    font-weight: 700;
                    border: 1px solid #111111;
                    border-radius: 100px;
                    
                }
            }
        }

        .portfolioCommon {
            &:not(:last-of-type){
                margin-bottom: 240px;
            }
            .portfolioTitleWrap{
                margin: 0 0 52px 20px;
                .portfolioTitle{
                    margin-right: 24px;
                    font-size: 40px;
                    font-weight: 700;
                }
                .portfolioSubtitle{
                    color: #CBC6C3;
                    font-size: 24px;
                    font-weight: 700;
                }
            }
            // 제목 아래 카드들 감싸는 클래스
            .portfolioCardsGroup{
            }
        }
        // 팀 프로젝트
        .teamWrap{
            .teamContents{
                
            }
        }
        // 개인 프로젝트
        .soloWrap{
            .soloContents{
                .bigWrap{

                }
                .smallWrap{
                    ul{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .pCardWrap{
                            width: 50%;
                            gap: 20px;
                        }
                    }
                }
            }
        }
    }
    // 4. 기타 경험
    .others{}
}