.portfolioCardWrap{
    cursor: pointer;
    &:hover{
        background-color: rgba($color: #000000, $alpha: 0.03);
        border-radius: 20px;
    }
    .thumbnailWrap{
        background-color: #CBC6C3;
        border-radius: 20px;
        overflow: hidden;
        img{
            object-fit: cover;
        }
    }
    .descriptionWrap{
        padding: 12px 40px 40px;
        .title{
            font-size: 32px;
            font-weight: 700;
        }
        .when{
            margin-bottom: 16px;
            display: block;
            color: #CBC6C3;
        }
        .usedSkillsWrap{
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .skill{
                &:not(:last-of-type) {
                    margin-right: 8px;
                }
            }
        }
        .summary{}

    }
    
}