@import './_responsive.scss';
.skillCardWrap{
    width: 100%;
    height: 100%;
    padding: 32px 32px 32px 0;
    background-color: #f3f3f3;
    border-radius: 20px;
    .logosWrap{
        margin: 0 0 32px 32px;
        display: flex;        
        .imgWrap{
            width: 48px;
            height: 48px;
            &:nth-of-type(2n){
                margin-left: 12px;
            }
        }
    }
    .namesWrap{
        margin: 0 0 12px 32px;
        display: flex;
        h3{
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 700;
            &:not(:last-of-type)::after{
                content: ', ';
            }
        }
    }
    .descriptionsWrap{
        margin-left: 12px;
        .descWrap{
            margin-bottom: 8px;
            display: flex;
            .disc{
                &::before{
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                    display: inline-block;
                    content: '';
                    background: url('../../public/icons/disc.svg') center no-repeat;
                }
            }
        }
    }
}

@include responsive($mo-l){
    .skillCardWrap{
        padding: 40px 20px 24px 0;
        .logosWrap{
            display: none;
        }
        .namesWrap{
            margin: 0 0 12px 20px;
            h3{
                font-size: 16px;
            }
        }
        .descriptionsWrap{
            margin-left: 20px;
        }
    }
}